body {
  background-color: #c9f1c9;
  font-family: 'Poppins', sans-serif;
}

.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.reset-card {
  background-color: #fff;
  width: 400px;
  border-radius: 25px;
  padding: 40px 30px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  position: relative;
}


.back-btn {
  position: absolute;
  top: 15px;
  left: 20px;
  background: none;
  border: none;
  color: #41a85f;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease;
}

.back-btn:hover {
  color: #369c54;
  text-decoration: underline;
}

.store-name {
  color: #41a85f;
  font-size: 22px;
  font-weight: 700;
  margin-top: 20px;
}

.subtitle {
  color: #41a85f;
  font-weight: 600;
  margin-top: 10px;
}

.text {
  color: #000;
  font-size: 14px;
}

.form-label {
  display: block;
  text-align: left;
  color: #41a85f;
  font-weight: 500;
  margin-top: 15px;
}

.reset-card input {
  width: 100%;
  background-color: #f7f7f7;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 14px;
  margin-top: 6px;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #41a85f;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
}

.note {
  text-align: left;
  color: #777;
  font-size: 12px;
  margin-top: 5px;
}

.reset-btn {
  width: 100%;
  background-color: #41a85f;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 20px;
}

.reset-btn:hover {
  background-color: #369c54;
}

.logo-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 10px; 
}

.logo {
    width: 60px; 
    height: auto;
}
